body,html {
  width: 100%;
  height:100%;
  margin: 0;
}

body {
  font-family: sans-serif;
}

header, aside, article {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 15%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  min-height:56px;
  margin: 0px;
}

.header__box {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.header__logo {
  height: 72px;
  margin-left:20px;
  vertical-align:middle;
  margin-top: 12px;
}

.header__title {
  position: relative;
  top:10px;
  right:10px;
  margin: 10px;
  display: inline-block;
  color: #212121;
}

.aside {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
  height: 20%;
  margin-top: 10px;
}

.aside_box {
  width: 30%;
  height: 80%;
  margin: auto;
}

.aside_image {
  width: 100%;
  height: 70%;
  margin-left: auto;
  margin-right: auto;
}

.logo_description {
  font-size: 12px;
  text-align: center;
}

.article {
  display: flex;
  flex: row;
  width: 100%;
  height: 35%;
}

.article_pic {
  width: 100%;
  height: 100%;
}

.section {
  display: flex;
  flex: row;
  width: 100%;
  height: 5%;
  margin-top: 20px;
}

.section-feature {
  flex-grow: 1;
  order: 1;
}

p {
  text-align: center;
  font-family: sans-serif;
  font-size: 16px;
}
